@import "../../scss/variables";

section{

    background: $bgmain;
    padding: 30px 0;
}

.main
{
    border: 1px solid $bgborder;
    padding: 20px;
    border-radius: 15px;
    background: $white;

    .form-group {

        label {
            margin-bottom: 10px;
        }

        .form-control{
            height: auto;       
        }
    }  
    
    .alert{
        margin-top: 10px;
    }

    .alert-danger strong p{
        margin-top: 5px;
        font-weight: 400;
        color: #a94442;
    }
}
